.main-page {
  background: transparent;
  /* display: flex; */
  justify-content: space-evenly;
  font-weight: bold;
  margin-top: 13%;
  margin-bottom: 40px;
  height: 100%;
  width: 100%;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center;
  height: auto;
  justify-content: space-evenly;
  margin: 15px;
  align-self: center;

}
.main-item {
  display: flex;
  flex-direction: column;
  /* flex: 1 120px; */
  align-items: center;
  height: 350px;
  align-self: center;
  margin-bottom: 30px;
}
h1 {
    color: grey;
    align-self: center;
    font-size: 450%;
}
h2 {
    margin-top: 13px;
    margin-bottom: 30px;
    font-size: 130%;
    font-weight: lighter;
    font-family: "Gill Sans", sans-serif;
}
form {
    width: 350px;
    justify-content: space-evenly;
}
label {
    display: flex;
    flex-wrap: wrap;
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 100%;
    font-weight: lighter;
    font-family: "Gill Sans", sans-serif;
}
input {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    border-radius: 3px;
    border-color: grey;
}
button {
    height: 35px;
    width: 145px;
    margin: 14px;
    border-radius: 3px;
    font-family: "Gill Sans", sans-serif;
    font-size: 80%;
    justify-content: center;
}
.b2 {
    background-color: transparent;
}
.b1 {
    background-color: #00AEEF;
    color: white;
}